<div class="fixed w-full h-screen -z-10 lg:grid grid-cols-[0.84fr_1.16fr]">
  <div
    class="h-screen bg-[linear-gradient(230.27deg,var(--tw-gradient-from)_-24.88%,var(--tw-gradient-to)_46.72%)] from-primary-400 to-primary-800"
  >
  </div>
  <div class="h-screen bg-gradient-to-b from-primary-100 to-neutral-50"></div>
</div>
