<option hidden disabled selected value=""></option>
<option value="Office 365">Office 365</option>
<option value="SharePoint Online">SharePoint Online</option>
<option value="SharePoint 2019 (On-Premise)">SharePoint 2019 (On-Premise)</option>
<option value="SharePoint 2016 (On-Premise)">SharePoint 2016 (On-Premise)</option>
<option value="SharePoint 2013 (On-Premise)">SharePoint 2013 (On-Premise)</option>