<p class="text-[1.25rem] text-center">
  No need for coding. <span>Configure sites easily</span> and their templates make setup a <span>breeze!</span>
</p>
<div class="grid grid-cols-[auto_1fr] mt-8">
  <span class="row-start-1 row-end-3 w-[3.4375rem] gap-4"></span>
  <span>Darryl Shaw</span>
  <span>Columbia Climate School</span>
</div>
<div class="text-center mt-[6rem]">
  <p>Trusted by titans.</p>
  <p>Built for everyone.</p>
</div>
