---
import CustomerType from "./CustomerType.astro";
import DataForm from "./DataForm.astro";

---

<div class="-mt-[6.25rem] pl-[6.25vw] lg:pl-[7.5vw] self-center">
 <CustomerType />
 <DataForm />
</div>
