---
import Header from "./Header.astro";
import LeftTab from "./LeftTab.astro";
import RightTab from "./RightTab.astro";
---

<div class="lg:grid grid-cols-[0.7fr_1fr] grid-rows-[auto_1fr] h-screen">
  <Header />
  <LeftTab />
  <RightTab />

</div>